.Picture {
    
    font-size: 2vh;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    justify-content: space-around;
    transition: .5s;
    background-color: rgb(35, 218, 218);
    outline-style: dotted;

}